<div>
    <ul class='nav nav-tabs'>
        <li class="nav-item">
            <a class="nav-link" href='#' routerLinkActive="active" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="newpage">Page</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="shopping">Shopping list</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="cart">Cart</a>
        </li>
        <!-- <a class="btn btn-warning" style="right:0; position:absolute">Ranjeet Eppakayala</a> -->
    </ul>
</div>
<!-- <a class='navbar-brand' href='#'>
        Udemy Courses
        <span>
            <button (click)='addCourse()' class='btn btn-primary'>Add</button>
        </span>
        </a>
        <span>
        <input [ngClass]='getClasses()' style="background:#ffffff; color: #a400cc;" [(ngModel)]='username' />
        </span>
    <span>
        <span *ngIf='showDetails' >{{username}}</span>
        <span class="btn btn-primary  m-2" style="background: #a400cc; border-color: #a400cc">Logged In</span>
    </span> -->